<link
  href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap"
  rel="stylesheet" />
<div class="head">
  <div class="titre">
    <h1>PASSEZ AU<br /><span class="vert_color_txt">VERT </span> !</h1>
  </div>
  <div class="fleche">
    <img src="https://zupimages.net/up/23/05/6d0b.png" />
  </div>
  <div class="img_voiture">
    <img src="https://zupimages.net/up/23/05/qcv6.png" />
  </div>
</div>
<div class="acc_conteneur">
  <div class="titre2">
    <h2>facilitons la<br />transition vers les<br />vehicules electrique</h2>
  </div>
  <div class="simu_manu">
    <div class="bouton_plein">
      <span class="icon"
        ><img src="https://zupimages.net/up/23/05/udpy.png"
      /></span>
      <span class="contenu">Démarrer une simulation manuelle</span>
    </div>
  </div>
  <div class="simu_goo">
    <div class="bouton_vide">
      <span class="icon google"
        ><img src="https://zupimages.net/up/23/05/5v6d.png"
      /></span>
      <span class="contenu black">Démarrer une simulation avec google</span>
    </div>
  </div>
</div>
