<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap"
    rel="stylesheet" />
<div class="component">
    <div class="carteIdVehiculeDetails">
        <div class="carteDetailsGauche">
            <div class="imgVehicule">
                <img src="https://www.roulonselectrique.ca/media/images/karma-revero.width-768.png" />
            </div>
            <div class="scoreDetails">
                <div class="scorePrix">
                    <div class="donuts prixD">
                        <div class="pie animate" style="--p: 100; --c: #dfdfdf">
                            <div class="pie animate valeurGraph" style="--p: 13; --c: red"></div>
                            <span class="valeurScore">31</span><span class="eme">eme</span><span
                                class="nbVehicule">/39</span>
                        </div>
                    </div>
                    <div class="iconGraph">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M14 2a8 8 0 0 1 3.292 15.293A8 8 0 1 1 6.706 6.707 8.003 8.003 0 0 1 14 2zm-3 7H9v1a2.5 2.5 0 0 0-.164 4.995L9 15h2l.09.008a.5.5 0 0 1 0 .984L11 16H7v2h2v1h2v-1a2.5 2.5 0 0 0 .164-4.995L11 13H9l-.09-.008a.5.5 0 0 1 0-.984L9 12h4v-2h-2V9zm3-5a5.985 5.985 0 0 0-4.484 2.013 8 8 0 0 1 8.47 8.471A6 6 0 0 0 14 4z" />
                            </svg></span><span class="titreGraph">prix</span>
                    </div>
                </div>
                <div class="scoreRecharge">
                    <div class="donuts rechargeD">
                        <div class="pie animate" style="--p: 100; --c: #dfdfdf">
                            <div class="pie animate valeurGraph" style="--p: 93; --c: lightgreen">
                                <span class="valeurScore">4</span><span class="eme">eme</span><span
                                    class="nbVehicule">/39</span>
                            </div>
                        </div>
                    </div>
                    <div class="iconGraph">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 11V5l-5 8h3v6l5-8h-3zM3 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm18 4h2v6h-2V9z" />
                            </svg></span><span class="titreGraph">recharge</span>
                    </div>
                </div>
                <div class="scoreAutonomie">
                    <div class="donuts autonomieD">
                        <div class="pie animate" style="--p: 100; --c: #dfdfdf">
                            <div class="pie animate valeurGraph" style="--p: 60; --c: orange">
                                <span class="valeurScore">23</span><span class="eme">eme</span><span
                                    class="nbVehicule">/39</span>
                            </div>
                        </div>
                    </div>
                    <div class="iconGraph">
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M11.39 10.39L7.5 14.277 3.61 10.39a5.5 5.5 0 1 1 7.78 0zM7.5 8.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm12.89 10.89l-3.89 3.888-3.89-3.889a5.5 5.5 0 1 1 7.78 0zM16.5 17.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            </svg></span><span class="titreGraph">autonomie</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carteDetailsDroite">
            <div class="titreVehicule">
                <h3>2020 Karma Revero GT</h3>
            </div>
            <div class="listeDetails">
                <ul>
                    <li>
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M19 20H5v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-9l2.513-6.702A2 2 0 0 1 6.386 4h11.228a2 2 0 0 1 1.873 1.298L22 12v9a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1zM4.136 12h15.728l-2.25-6H6.386l-2.25 6zM6.5 17a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                            </svg></span>
                        Grande berline
                    </li>
                    <li>
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M13 18v2h6v2h-6a2 2 0 0 1-2-2v-2H8a4 4 0 0 1-4-4v-4h16v4a4 4 0 0 1-4 4h-3zm3-12h3a1 1 0 0 1 1 1v2H4V7a1 1 0 0 1 1-1h3V2h2v4h4V2h2v4zm-4 8.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg></span>
                        VHR
                    </li>
                    <li>
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M11.39 10.39L7.5 14.277 3.61 10.39a5.5 5.5 0 1 1 7.78 0zM7.5 8.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm12.89 10.89l-3.89 3.888-3.89-3.889a5.5 5.5 0 1 1 7.78 0zM16.5 17.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            </svg></span>
                        98 KM
                    </li>
                </ul>
                <ul>
                    <li>
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zM6.023 15.416C7.491 17.606 9.695 19 12.16 19c2.464 0 4.669-1.393 6.136-3.584A8.968 8.968 0 0 0 12.16 13a8.968 8.968 0 0 0-6.137 2.416zM12 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg></span>
                        4
                    </li>
                    <li>
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M9.33 11.5h2.17A4.5 4.5 0 0 1 16 16H8.999L9 17h8v-1a5.578 5.578 0 0 0-.886-3H19a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.761 0-5.1-.59-7-1.625L6 10.071A6.967 6.967 0 0 1 9.33 11.5zM5 19a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v9zM18 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6zm-7-3a3 3 0 1 1 0 6 3 3 0 0 1 0-6z" />
                            </svg></span>
                        2 841$/ 20 000 KM
                    </li>
                    <li>
                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M14 2a8 8 0 0 1 3.292 15.293A8 8 0 1 1 6.706 6.707 8.003 8.003 0 0 1 14 2zm-3 7H9v1a2.5 2.5 0 0 0-.164 4.995L9 15h2l.09.008a.5.5 0 0 1 0 .984L11 16H7v2h2v1h2v-1a2.5 2.5 0 0 0 .164-4.995L11 13H9l-.09-.008a.5.5 0 0 1 0-.984L9 12h4v-2h-2V9zm3-5a5.985 5.985 0 0 0-4.484 2.013 8 8 0 0 1 8.47 8.471A6 6 0 0 0 14 4z" />
                            </svg></span>
                        116 000 $
                    </li>
                </ul>
            </div>
            <div class="subvention">
                <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                            d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2zm0 8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                            fill="rgba(60,202,92,1)" />
                    </svg></span><span>subvention de 7000$ disponible</span>
            </div>
        </div>
    </div>
</div>

<div class="onglet">
    <ul class="mb-4 flex list-none flex-col flex-wrap border-b-0 pl-0 md:flex-row" id="tabs-tab3" role="tablist"
        data-te-nav-ref>
        <li role="presentation">
            <a href="#tabs-home3"
                class="my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-7 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent 
                 dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                id="tabs-home-tab3" data-te-toggle="pill" data-te-target="#tabs-home3" data-te-nav-active role="tab"
                aria-controls="tabs-home3" aria-selected="true">ÉCONOMIES TOTALES</a>
        </li>
        <li role="presentation">
            <a href="#tabs-profile3"
                class="focus:border-transparen my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-7 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate 
                 dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                id="tabs-profile-tab3" data-te-toggle="pill" data-te-target="#tabs-profile3" role="tab"
                aria-controls="tabs-profile3" aria-selected="false">IMPACT ENVIRONNEMENTAL</a>
        </li>
        <li role="presentation">
            <a href="#tabs-messages3"
                class="focus:border-transparen my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-7 pt-4 pb-3.5 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate 
                 dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                id="tabs-messages-tab3" data-te-toggle="pill" data-te-target="#tabs-messages3" role="tab"
                aria-controls="tabs-messages3" aria-selected="false">VU D'ENSEMBLE</a>
        </li>
    </ul>
    <div>
        <div class=" onglet_div hidden opacity-0 opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-home3" role="tabpanel" data-te-tab-active aria-labelledby="tabs-home-tab3">
            <div class="graph un">
                <canvas baseChart [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
                    [legend]="lineChartLegend">
                </canvas>
            </div>
            <div class="explication graph ">
                <h2><span class="bigUpper">P</span>rojection de vos économies totales </h2>
                <p>Voyez ici les économies potentielles que vous pourriez réaliser avec le véhicule GS-6 (Karma) par
                    rapport à un véhicule à essence comparable. L’estimation tient compte d'un kilométrage annuel de 20
                    000KM et d’autres facteurs économiques dont la consommation du véhicule, le prix de l’énergie et les
                    rabais incitatifs disponibles.</p>
            </div>

        </div>
        <div class=" onglet_div hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-profile3" role="tabpanel" aria-labelledby="tabs-profile-tab3">
            <div class="graph deux">
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                    [legend]="barChartLegend" [type]="'bar'">
                </canvas>
            </div>
            <div class="explication graph ">
                <h2><span class="bigUpper">P</span>rojection de votre impact environnemental </h2>
                <p>Voici la réduction en émissions de CO2 que vous pourriez réaliser avec un kilométrage annuel de 20 000KM et le véhicule GS-6 (Karma) par rapport à un véhicule à essence comparable. Prendre note que ceci est une estimation des émissions liées uniquement à l’utilisation du véhicule.</p>
            </div>
        </div>
        <div class=" onglet_div hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
            id="tabs-messages3" role="tabpanel" aria-labelledby="tabs-profile-tab3">
            <div class="graph trois">
                <canvas baseChart [datasets]="radarChartDatasets" [options]="radarChartOptions"
                    [labels]="radarChartLabels" [type]="'radar'">
                </canvas>
            </div>
            <div class="explication graph ">
                <h2><span class="bigUpper">V</span>ivez une expérience électrisante </h2>
                <p>Un essai routier vous permettra de vivre l’expérience de l’accélération instantanée et de l’absence de bruit et de vibrations du moteur d’un véhicule électrique.</p>
                <div class="divBTN"><div class="btn"><div class="iconBTN"></div><span>Réserver un essai routier</span></div></div>
            </div>
        </div>
    </div>
</div>